@model IEnumerable<ProjectViewModel>



<link rel="stylesheet" href="~/css/site.css"/>
<!-- Start Featured Projects -->

<div class="album py-5 bg-light">
    <div class="container">
        <h1 class="text-muted text-center">@ViewBag.Category</h1>
        @if (Model.Any())
        {
            <h2 class="text-muted text-center my-5">Explore @(Model.Count() > 1 ? $"{Model.Count()} projects" : $"{Model.Count()} project")</h2>
        }
        
        @if (!Model.Any())
        {
            <h2 class="text-muted text-center my-5">Nothing Found...</h2>
        }
        
        <div class="row">
            @foreach (var pr in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@pr.MainImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="text-center">@pr.Title</h3>
                            <div class="text-center mb-2">
                                <small class="text-muted">@pr.Category</small>
                            </div>
                            <div class="text-center mb-4">
                                <small class="text-muted">@pr.DaysToGo days to go</small>
                            </div>
                            <div class="text-center mb-4">
                                <small class="text-muted">Created by: @pr.UserName</small>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-success " role="progressbar" aria-valuenow="@pr.Progress" aria-valuemin="0" aria-valuemax="100" style="width:@pr.Progress%">@pr.Progress%</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="badge badge-pill badge-warning mb-2" style="font-size: .9rem">@pr.BackingsAmount / @pr.Goal $</span>
                                    <small class="badge badge-pill badge-warning" style="font-size: .9rem">@pr.Backings backings</small>
                                </div>
                                <a asp-controller="Project" asp-action="Details" asp-route-id="@pr.ProjectId" type="button" class="btn btn-md w-50 btn-success">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>