@model Crowdfund.Web.Models.Dashboard.ProjectInfoViewModel

<div class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-route-id="@Globals.UserId" class="btn btn-lg btn-warning mb-4 w-100">
                        Back
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <h5 class="card-title">Add a Post For: @Model.ProjectTitle</h5>
                    <form method="post" class="js-create-post-form js-form-validations">
                        <div class="form-group">
                            <label for="title">Post Title</label>
                            <input type="text" name="@Html.NameFor(nm=>nm.PostOptions.Title)" class="form-control js-title"
                                   data-val="true" data-val-required="Field required" id="title">
                            @Html.ValidationMessageFor(nm => nm.PostOptions.Title)
                            <input type="hidden" class="js-project" name="projectId" value="@Model.ProjectId" />
                        </div>
                        <div class="form-group">
                            <label for="text">Description</label>
                            <textarea name="@Html.NameFor(nm=>nm.PostOptions.Text)" class="form-control js-description"
                                      data-val="true" data-val-required="Field required" id="text" rows="8"></textarea>
                            @Html.ValidationMessageFor(nm => nm.PostOptions.Text)
                        </div>
                        <button type="button" class="btn btn-lg btn-warning js-createpost">Create</button>
                        <div class="alert alert-success mt-3 js-create-post-success-alert" role="alert" style="text-align:center">
                            Post created successfully
                        </div>
                        <div class="alert alert-danger mt-3 js-create-post-fail-alert" role="alert" style="text-align:center">                           
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>