@model IEnumerable<ProjectViewModel>

<div class="container" style="margin-top: 90px;">
    <!-- Project Title & Photo-->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <a asp-controller="Dashboard" asp-action="CreateProject" class="btn btn-lg btn-warning mb-4 w-100">
                        Create Project
                    </a>
                    <a asp-controller="Dashboard" asp-action="BackedProjects" asp-route-id="@Globals.UserId" class="btn btn-sm btn-secondary mb-4 w-100">Backed Projects</a>
                    <a asp-controller="Dashboard" asp-action="UpdateUser" asp-route-id="@Globals.UserId" class="btn btn-lg btn-info mb-4 w-100">
                        Profile
                    </a>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="card w-100 h-100 scroll">
                <div class="card-body">
                    <h5 class="card-title">Your Projects</h5>
                    @foreach (var p in Model)
                    {
                        <div class="card mb-3 w-100">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="@p.MainImageUrl" class="card-img h-100" alt="imageUrl">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                                <h2>@p.Title</h2>
                                                <p class="card-text">
                                                    <small>@p.DaysToGo days to go</small>
                                                </p>                                                
                                                <a asp-controller="Project" asp-action="Details" asp-route-id="@p.ProjectId" class="btn btn-warning">View</a>
                                            </div>
                                            <small class="text-muted ml-2">@p.Category</small>
                                        </div>
                                        <p class="card-text">
                                            Your progress:
                                        </p>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg-success font-weight-bold" style="width:@p.Progress%; height: 1rem;" aria-valuenow="@p.Progress%">
                                                @p.Progress%
                                            </div>
                                        </div>


                                        <p class="card-text">
                                            <span class="badge badge-pill badge-warning mb-2" style="font-size: .9rem">@p.BackingsAmount / @p.Goal $</span>
                                            <small class="badge badge-pill badge-warning" style="font-size: .9rem">@p.Backings backings</small>
                                        </p>

                                        <a asp-action="CreatePost" asp-route-id="@p.ProjectId" class="btn btn-sm btn-primary mb-2">Create Post</a>
                                        <a asp-action="AddVideos" asp-route-id="@p.ProjectId" class="btn btn-sm btn-danger mb-2">Videos</a>
                                        <a asp-action="AddImages" asp-route-id="@p.ProjectId" class="btn btn-sm btn-success mb-2">Images</a>
                                        <a asp-action="CreateRewardPackage" asp-route-id="@p.ProjectId" class="btn btn-sm btn-info mb-2">Add Reward</a>
                                        <a asp-action="UpdateProject" asp-route-id="@p.ProjectId" class="btn btn-sm btn-secondary mb-2">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>