@model Crowdfund.Core.Models.User


    <div class="container profile-container" style="margin-top: 90px;">

        <!-- Project Title & Foto-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
                <div class="card w-100 h-100">
                    <div class="card-body">                      
                        <a asp-action="Index" asp-route-id="@Globals.UserId" class="btn btn-lg btn-info mb-4 w-100">
                            Back
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-9">
                <div class="card w-100 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Edit your Profile</h5>
                        <input type="hidden" class="form-control js-user-id" value="@Globals.UserId">
                        <form method="post" class="js-form-validations">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" name="@Html.NameFor(nm => nm.FirstName)" class="form-control js-firstName" value="@Model.FirstName"
                                       data-val="true" data-val-required="Required field" placeholder="Please enter your firstname">
                                @Html.ValidationMessageFor(nm => nm.FirstName)
                            </div>

                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" name="@Html.NameFor(nm => nm.LastName)" class="form-control js-lastName" value="@Model.LastName"
                                       data-val="true" data-val-required="Required field" placeholder="Please enter your last name" >
                                @Html.ValidationMessageFor(nm => nm.LastName)
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" name="@Html.NameFor(nm => nm.Address)" class="form-control js-address"  value="@Model.Address"
                                       data-val="true" data-val-required="Required field" placeholder="Please enter your address" >
                                @Html.ValidationMessageFor(nm => nm.Address)
                            </div>

                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" name="@Html.NameFor(nm => nm.Email)" class="form-control js-email" value="@Model.Email"
                                     data-val="true" data-val-required="Required field" data-val-email="Please enter a valid email"  
                                       placeholder="Please enter your e-mail" >
                                @Html.ValidationMessageFor(nm => nm.Email)
                               
                            </div>

                            <button type="button" class="btn btn-lg btn-warning js-user-profile-save">Save</button>

                            <div class="alert alert-success js-user-profile-success-alert mt-2" role="alert" style="text-align:center">
                                User's information updated successfully
                            </div>

                            <div class="alert alert-danger js-user-profile-fail-alert mt-2" role="alert" style="text-align:center">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
